.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: start;
    font-size: 1.25rem;
    color: #FFFFFF;

    background: linear-gradient(90deg, var(--clr-secondary-base), var(--clr-forth-base));

    height: 10vh;
    border-radius: 50px;
    padding: 2rem;
}