* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

canvas {
    background-color: white;
}

.editor {
    display: grid;
    grid-auto-flow: column;
}

.gallery {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}


/* Tablet */

@media (width > 500) {

}


/* Desktop */

@media (width > 800px) {

}
