* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.canvas-container {
    width: 80vw;
    margin: 10px auto;
}
  
canvas {
    /* display: block; */
    background-color: white;
}


/* Tablet */

@media (width > 500) {

}


/* Desktop */

@media (width > 800px) {

}
