* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    text-align: center;
}


/* Tablet */

@media (width > 500) {

}


/* Desktop */

@media (width > 800px) {

}
